* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

#counter {
	height: 100%;
}

h1 {
	font-weight: bold;
	font-size: 150px;
	height: 100%;
}
