body,
html {
	margin: 0;
	padding: 0;
}

.friendItem {
	text-align: center;
	position: relative;
	border-bottom: 1px solid;
}

.petList {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}
