/* THIS IS GRID 1 */

body {
	margin: 50px;
}

#gridContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

#gridContainer > div {
	height: 250px;
	border-radius: 15px;
	padding-left: 10px;
}

.header {
	background-color: #f67280;
	grid-column: 1 / 3;
}

.sideBar {
	background-color: #6c5b7b;
	grid-column: 3 /5;
}

.content {
	background-color: #355c7d;
	grid-column: 1 / 2;
}

.sideBar2 {
	background-color: #444f5a;
	grid-column: 2 / 5;
}

.footer {
	background-color: #e27b27;
	grid-column: 1 / 5;
}

.linkToGrid2 {
	display: block;
	height: 100%;
	position: relative;
	bottom: 80px;
}

/* media query breakpoint for mobile */

@media only screen and (max-width: 480px) {
	#gridContainer {
		grid-template-columns: 1fr;
	}

	#gridContainer > div {
		height: 100%;
		grid-column: 1 / 2;
	}
}

/* media query breakpoint for tablet */

@media only screen and (min-width: 481px) and (max-width: 952px) {
	#gridContainer > div {
		height: 100%;
	}

	.header {
		grid-column: 1 / 5;
	}

	.sideBar {
		grid-column: 1 / 2;
	}

	.content {
		grid-column: 2 / 5;
	}

	.sideBar2 {
		grid-column: 1 / 5;
	}

	.footer {
		grid-column: 1 / 5;
	}
}

/* media query breakpoint for Laptop and bigger */

@media only screen and (min-width: 953px) {
	#gridContainer > div {
		height: 100%;
	}

	.header {
		grid-column: 1 / 5;
	}

	.sideBar {
		grid-column: 1 / 2;
	}

	.content {
		grid-column: 2 / 4;
	}

	.sideBar2 {
		grid-column: 4 / 5;
	}

	.footer {
		grid-column: 1 / 5;
	}
}
