body,
html {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

/* all header styles */

#header {
	padding: 8.3rem 0rem;
	background-image: url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-blend-mode: color;
	background-color: #0000007a;
	text-align: center;
	color: whitesmoke;
}

#header > h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: bolder;
	font-size: 5em;
}

#header > p {
	font-family: "Open Sans", sans-serif;
	position: relative;
	bottom: 2.6rem;
	font-size: 1.5rem;
	font-weight: lighter;
}

/* all navbar styles */

#navbar {
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: 6.7rem;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
	font-weight: bolder;
	letter-spacing: 0.03rem;
}

#navbarLinks {
	display: flex;
	justify-content: space-around;
	width: 40%;
	font-size: 0.8rem;
}

#navbarTitle {
	all: unset;
	color: whitesmoke;
	font-size: 1.3rem;
	transition-duration: 0.5s;
	letter-spacing: 0.18rem;
}
#navbarTitle:hover {
	cursor: pointer;
	color: rgb(206, 206, 206);
}

.navbarLink {
	all: unset;
	color: whitesmoke;
	transition-duration: 0.2s;
}

.navbarLink:hover {
	cursor: pointer;
	color: rgb(206, 206, 206);
}

/* all bloglist styles */

#blogContainer {
	margin: 2.7rem 0rem;
	display: flex;
	flex-direction: column;
	text-align: left;
	border-bottom: solid 0.01rem #a5a8ac;
}

#blogContainer > a {
	all: unset;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	letter-spacing: 0.05rem;
	font-size: 1.17rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: teal;
	color: whitesmoke;
	width: 12rem;
	height: 3.3rem;
	margin: 1.8rem 0rem;
	position: relative;
	left: 59%;
}

#blogContainer > a:hover {
	cursor: pointer;
	background-color: rgb(1, 94, 94);
}

.blogPost {
	margin: 0rem 13.5rem;
	font-family: "Open Sans", sans-serif;
	color: #21252a;
	border-bottom: solid 0.01rem #a5a8ac;
}

.blogPost > div > h2 {
	font-size: 2.4rem;
	font-weight: bolder;
	margin-bottom: 0.5rem;
}

.blogPost > div > h3 {
	font-weight: lighter;
	font-size: 1.7rem;
	margin: 0;
}

#hoverMe {
	transition: 0.3s;
}

#hoverMe:hover {
	cursor: pointer;
	color: teal;
}

.blogLink {
	all: unset;
}

.blogPost > p {
	color: #a5a8ac;
	font-style: italic;
	font-family: "Lora", serif;
	font-weight: lighter;
	font-size: 1.16rem;
	margin-bottom: 2rem;
	margin-top: 0.8rem;
}

.blogPost > p > a {
	color: #21252a;
	all: unset;
	transition: 0.3s;
}

.blogPost > p > a:hover {
	cursor: pointer;
	color: teal;
}

/* footer styles */

#footer {
	margin: 3rem 0rem;
}

#footer > p {
	text-align: center;
	color: #8f9194;
	font-style: italic;
	font-family: "Lora", serif;
	font-weight: lighter;
	font-size: 1.1rem;
	margin-top: 0rem;
}

/* all icon styles */

#icons {
	display: flex;
	justify-content: center;
	margin: 1.5rem 0rem;
}

#icons > div {
	background-color: #21252a;
	margin: 0rem 0.9rem;
	width: 3.1rem;
	height: 3.1rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

#icons > div > a {
	all: unset;
	color: whitesmoke;
	font-size: 2rem;
}

#icons > div:hover {
	cursor: pointer;
	background-color: teal;
}

#icons > div > a:hover {
	cursor: pointer;
}
